
.logo1 {

display: flex;
  width: 50px;
  margin-left:-25px;
  margin-right:25px;
  /* margin-top:-30px; */
  /* padding-bottom: 5px; */
  /* padding-top:5px; */
  border-radius: 50px;
  align-items: baseline;

} 


 body {
  
    background-size: 75% auto;
    padding: auto;
    list-style: none;
    text-align: center;
    display: inline-block;
    color:rgb(26, 23, 23);
 }
Nav{
    color:white;
 }


 @media screen and (max-width: 650px) {
    .logo1 {
        display:flex;
          width: 50px;
          margin-left:-25px;
          margin-right:25px;
         margin-top:-30px; 
          padding-bottom: 5px;
          padding-top:5px;
          border-radius: 50px;
          align-items: baseline;
        
        } 
            }
        
        @media screen and (min-width: 350px) {
            .logo1 {
                display: relative;
                  width: 50px;
                  margin-left:-25px;
                  margin-right:25px;
                 margin-top:-30px; 
                  padding-bottom: 5px;
                  padding-top:5px;
                  border-radius: 50px;
                  align-items: baseline;
                
                } 
                    }
        

            @media screen and (max-width: 768px)  {
    .logo1 {
        display: relative;
          width: 50px;
          margin-left:-25px;
          margin-right:25px;
         margin-top:-30px; 
          padding-bottom: 5px;
          padding-top:5px;
          border-radius: 50px;
          align-items: baseline;
        
        } 
            }
        
        
        


            @media screen and (max-width: 850px) {
  .logo1 {
display: relative;
  width: 50px;
  margin-left:-25px;
  margin-right:25px;
 margin-top:-30px; 
  padding-bottom: 5px;
  padding-top:5px;
  border-radius: 50px;
  align-items: baseline;

} 
    }


