/* * {
  box-sizing: border-box;

} */

.contact-heading {
  align-items: center;
  margin-left: 50px;
  margin-right: 20px;
  font-size: 30px;
  text-align: center;
  color: #434141;
  margin: auto;
  
}


.contact-form {
  color: #434141;
  padding: 100px;
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border: 1px solid rgb(193, 170, 170); */
  box-shadow: 10px 10px 2px 1px rgba(168, 168, 171, 0.2);
  background-color: #dad9da;
}
.contact-form input,
button,
textarea {
  max-width: 600px;
  height: 50px;
  padding-left: 5px;
  font-size: 18px;
  color: rgb(248, 253, 253);
  border-radius: 3px;
  color: #6d5d5d;
}
.contact-form textarea {
  height: 200px;
  color: #050505;
  font-size: 18px;

  max-width: 600px;
}
.contact-me {
  text-align: center;
  color: #434141;
}
.submit-btn {
  width: auto;
  padding: 40px;
  margin: 40px;
  border-width: 1px;
  border-radius: 2px;
  line-height: 1;
  font-size: 18px;
  font-weight: 500;
  border-top-width: 2px;
  border-right-width: 2px;
  border-left-width: 2px;
  border-bottom-width: 2px;
  padding-top: 14px;
  padding-right: 30px;
  padding-bottom: 14px;
  padding-left: 30px;
}

.gpt3__whatgpt3-heading {
  text-align: center;
  color: #434141;
}


@media screen and (max-width: 768px) {
  .bg-color {
    padding-right: 30px;
    font-size: 63px;
    width: 100%;
  }
  h2{
    margin-top:80px;
  
  }
}

#insta {
  margin-top: 40px;
  margin-bottom: 40px;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 50px; /* change this to change the size*/
}
h2{
  padding:20px;
  margin-top:80px;


}