@tailwind base;
@tailwind components;
@tailwind utilities;

 .App {
  text-align: center;
  background-color: rgb(164, 146, 146);
  /* background-color:rgb(134, 119, 119); */
}


.card{
  color:black;
}

/* .App-header {
  background-color: #f2f4f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fbfbfb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gradient__bg {

  background:-moz-radial-gradient(circle at 3% 25%, rgb(230, 233, 236) 0%,rgb(233, 230, 230)25%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 3% 25%, rgb(230, 233, 236) 0%, rgb(233, 230, 230) 25%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 3% 25%, rgb(230, 233, 236) 0%, rgb(233, 230, 230) 25%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 3% 25%, rgb(230, 233, 236) 0%, rgb(233, 230, 230) 25%);
/* 
  background:rgb(3, 132, 238); 
 background:rgb(214, 230, 242);
 background: rgb(253, 251, 251); */

  /* background:url("./Assets/bg1.jpg") */
}
/* .gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

} */

