
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {

  --gradient-text: linear-gradient(89.97deg, #515b02 1.84%, #dfe3a7 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #fafa67 -13.86%, #e4d9d3 99.55%);
  
  --color-bg: #040C18;
  --color-footer :#5F767D;
  --color-blog: #f2f3f4;
  --color-text: #262729;
  --color-subtext: #f3edec;
}


